.btn-works {
   width: 200px;
   min-height: 75px;
   align-content: center;
   padding-top: 15px;
   font-size: 30px;
}

.mainText {
   font-size: 30px;
}

.subText {
   font-size: 20px;
}

