<div class="btn-group-vertical">
  
    <div class="btn btn-primary btn-works" btnRadio="This" tabindex="0" role="button">
      This
    </div>
    <hr >
    <div class="btn btn-primary btn-works" routerLink="/myworks/todoreact" btnRadio="ToDoReact" tabindex="0" role="button">
      <div class="mainText">ToDo</div>
      <div class="subText">(React.js)</div>
    </div>
    <hr >
    <div class="btn btn-primary btn-works" routerLink="/myworks/todovue" btnRadio="ToDoVue" tabindex="0" role="button">
      <div class="mainText">ToDo</div>
      <div class="subText">(Vue.js)</div>
    </div>
    <hr >

  </div>
 

<!-- <div class="navbar navbar-inverse navbar-expand-md">  
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/myworks/todoreact']">ToDo - React</a>
        </li>
        <li>
          <a [routerLink]="['/myworks/todovue']">ToDo - Vue</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->